@page "/account/login"
@using Microsoft.AspNetCore.Blazor.Services
@using WeddingsPlanner.Blazor.Client.Infrastructure.Business
@using WeddingsPlanner.Core.Models
@inject IUriHelper UriHelper

<h1>Login</h1>

<div class="row">
    <div class="col-sm-9 col-md-7 col-lg-5 my-3">
        <div class="form-label-group">
            <input type="email" id="inputEmail" class="form-control" placeholder="Email address" required autofocus bind="@this._userModel.Email" />
            <label for="inputEmail">Please enter your email address.</label>
        </div>

        <div class="form-label-group">
            <input type="password" id="inputPassword" class="form-control" placeholder="Password" required bind="@this._userModel.Password" />
            <label for="inputPassword">Please enter your password.</label>
        </div>

        <button class="btn btn-lg btn-primary btn-block text-uppercase" type="submit" onclick="@Submit">Login</button>
    </div>
</div>

@functions {
JwtModel _response;

readonly LoginUserModel _userModel = new LoginUserModel();

async Task Submit()
{

}
}